@import 'global';


img{
    border-radius: 5%;
}
#gallery{
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3.5rem;
}
#wrap-big-image{
    position: relative;
    height: 75%;
    width: 100%;
    img{
        max-width: 100%;
        cursor: default;
    }
}
#wrap-thumbnails{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    img{
        width: 20%;
        border-radius: 8px;
        &:hover{
            opacity: 0.4 !important;
        }
    }
}

.previous, .next{
    display: none;
}
.previous,
.next {
    position: absolute;
    top: 45%;
    background-color: #fff;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &:hover {
        fill: $Orange;
    }

    &:hover path {
        fill: $Orange;
    }
}

.previous {
    left: 20px;
}

.next {
    right: 20px;
}